.full-width{
    margin-left: 1%;
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .center-content {
    text-align: center;
  }

  .component-class {
    width: 100%;
    height: 92%;
    background-image: url("../../../assets/images/waves.png"); 
    background-size: cover; 
  }

  .custom-color {
    background-color: #ffffff05; /* Cambia el color de fondo a azul (#007bff) */
    color: white; /* Cambia el color del texto a blanco */
  }
