<div>
  <mat-toolbar class="custom-color">


    <a [routerLink]="'/'" matTooltip="Ir a inicio">
      <img src="../../../assets/images/logocel_blanco.png" width="65" height="65" alt="Descripción de la imagen">
    </a>

    <span class="big-text">CEL</span>

    <span class="example-spacer"></span>
    <span class="example-spacer"></span>

    <img src="../../../assets/images/carretilla.png" width="60" height="60" alt="">

    <div class="centered-container">
      <h2>Módulo General</h2>
      <h2>Inventario de Comprobantes Contables - Archivo de Contabilidad</h2>
    </div>

    <img src="../../../assets/images/caja.ico" width="50" height="50" alt="">

    <span class="example-spacer"></span>
    <span class="example-spacer"></span>

    <div class="centered-container">
      <h4>{{ currentTime | date:'dd/MM/yyyy' }}</h4>
      <h4>{{ usuario }}</h4>
    </div>

    <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon" matTooltip="Iniciar sesión">
    <mat-icon>person</mat-icon>
  </a>

  <a [routerLink]="'/auth/register'" mat-icon-button class="example-icon favorite-icon mr5 ml10"
    aria-label="Example icon-button with heart icon" matTooltip="Registrar">
    <mat-icon>person_add</mat-icon>
  </a>

    <a (click)="logout()" style="margin-right: 30px" mat-icon-button class="example-icon favorite-icon mr5 ml10"
      aria-label="Example icon-button with heart icon" matTooltip="Cerrar sesión">
      <mat-icon>logout</mat-icon>
    </a>

  </mat-toolbar>
</div>