

    <h3><strong>AREA DE ANALISIS CONTABLE (388) </strong></h3>

    <form autocomplete="off" >

        <div class="col">

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Primer Nombre</mat-label>
                    <input formControlName="primerNombre" matInput
                        placeholder="Digite su primer nombre">
                </mat-form-field>
        </div>

        <div class="col-sm-12">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Segundo Nombre</mat-label>
                    <input formControlName="segundoNombre" matInput
                        placeholder="Digite su segundo nombre">
                </mat-form-field>
        </div>

        <div class="col-sm-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Primer Apellido</mat-label>
                    <input formControlName="primerApellido" matInput
                        placeholder="Digite su primer apellido">
                </mat-form-field>
        </div>


    </form>

    <mat-grid-list cols="6" rowHeight="50">
        <mat-grid-tile>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Primer Nombre</mat-label>
                <input formControlName="primerNombre" matInput
                    placeholder="Digite su primer nombre">
            </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>