.custom-width {
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .custom-color {
    background-color: #00275a; /* Cambia el color de fondo a azul (#007bff) */
    color: white; /* Cambia el color del texto a blanco */
  }

  .example-container {
    height: 410px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .custom-border{
    border-radius: 0.1px;
  }

  .custom-table-style {
    font-size: 1px; /* Puedes ajustar este valor según tus necesidades */
  }

  .center-content {
    text-align: center;
  }

  
