<h1 mat-dialog-title>Búsqueda de Comprobantes por QUEDAN</h1>
<div mat-dialog-content>

  <div >
    <mat-form-field style="margin-left: 10px;">
      <mat-label>Fecha Inicio</mat-label>
      <input type="date" matInput [(ngModel)]="data.fInicio">
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
      <mat-label>Fecha Final</mat-label>
      <input type="date" matInput [(ngModel)]="data.fFinal">
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field style="margin-right: 10px;">
      <mat-label>Quedan</mat-label>
      <input type="number" matInput [(ngModel)]="data.quedan">
    </mat-form-field>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
    
</div>
<div mat-dialog-actions align="center">
  <button class="btn btn-danger" id="btn-close"  (click)="onNoClick()" >Cerrar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-primary" (click)="getQuedan(data.quedan)" id="btn-save">Guardar</button>
</div>
