<h1 mat-dialog-title>Búsqueda de Comprobantes por QUEDAN</h1>
<div mat-dialog-content>

  <div >
    <mat-form-field style="margin-left: 10px;">
      <mat-label>Fecha Inicio</mat-label>
      <input type="date" matInput [(ngModel)]="data.fInicio">
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
      <mat-label>Fecha Final</mat-label>
      <input type="date" matInput [(ngModel)]="data.fFinal">
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field style="margin-right: 10px;">
      <mat-label>Quedan</mat-label>
      <input type="number" matInput [(ngModel)]="data.quedan">
    </mat-form-field>

    <button class="btn btn-primary" (click)="getQuedan(data.quedan, data.fInicio, data.fFinal)" id="btn-save"> Buscar</button>

  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Quedan</th>
          <th scope="col">Tipo Documento</th>
          <th scope="col">Clave</th>
          <th scope="col">Fecha</th>
          <th scope="col">N° Interno</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
    
</div>
<div mat-dialog-actions align="center">
  <button class="btn btn-danger" id="btn-close"  (click)="onNoClick()" >Cerrar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-primary" id="btn-save">Trasladar</button>
</div>
