<h1 mat-dialog-title>Datos del Usuario: {{data.userName}}</h1>
<div mat-dialog-content>
    <div >
        <mat-form-field>
          <mat-label>Primer Nombre</mat-label>
          <input matInput [(ngModel)]="data.primerNombre" (keypress)="$event.keyCode == 13 ? upadateUser(data._id, data.primerNombre, data.segundoNombre, data.primerApellido, data.segundoApellido) : null" >
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field>
          <mat-label>Segundo Nombre</mat-label>
          <input matInput [(ngModel)]="data.segundoNombre" (keypress)="$event.keyCode == 13 ? upadateUser(data._id, data.primerNombre, data.segundoNombre, data.primerApellido, data.segundoApellido) : null">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <mat-label>Primer Apellido</mat-label>
          <input matInput [(ngModel)]="data.primerApellido" (keypress)="$event.keyCode == 13 ? upadateUser(data._id, data.primerNombre, data.segundoNombre, data.primerApellido, data.segundoApellido) : null">
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field>
          <mat-label>Segundo Apellido</mat-label>
          <input matInput [(ngModel)]="data.segundoApellido" (keypress)="$event.keyCode == 13 ? upadateUser(data._id, data.primerNombre, data.segundoNombre, data.primerApellido, data.segundoApellido) : null">
        </mat-form-field>
    </div>
    <div>
        <p>Correo Electrónico: {{data.email}}</p>
        <p>Caducidad de Contraseña: {{data.passCaducidad}}</p>
    </div>
</div>
<div mat-dialog-actions align="center">
  <button  (click)="onNoClick()" class="btn btn-danger" id="btn-close">Cerrar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button  (click)="upadateUser(data._id, data.primerNombre, data.segundoNombre, data.primerApellido, data.segundoApellido)" 
    class="btn btn-primary" id="btn-save">Guardar</button>
</div>