

<h1 mat-dialog-title >Permisos del Usuario [$userName]="$userName</h1>
<div mat-dialog-content style="width: 300px;">
    <table class="table table-bordered">
        <thead>
            <td style="font-weight: bold;"><input type="checkbox" (click)="grantDenyAll()" class="mainChk" name="mainChk"></td>&nbsp;&nbsp;&nbsp;
            <td style="font-weight: bold;"> Permisos</td>
        </thead>
        <tr *ngFor="let item of permisos" mat-cell title="{{item.descripcion}}">
            <td><input type="checkbox" (click)="addToIds(item._id)" class="chk" name="chk"></td>&nbsp;&nbsp;&nbsp;
            <td> {{item.nombre}} </td>
        </tr>
    </table>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button mat-dialog-close cdkFocusInitial >Guardar</button>
</div>
